*{
	font-family: 'Rubik', sans-serif;
}
nav{
    background-color:rgba(0,102,102,0.5);
 }
.navbar-brand img{
    box-shadow: 2px 2px 10px 5px #87CEFA;
    border-radius: 20px;
 }
#Navbar a{
    color:white;
    text-decoration: none;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 20px;
	position: relative;
	font-family: 'Oleo Script', cursive;
	margin-left: 50px;
}
#Navbar a:before{
	content: "";
	position: absolute;
	top:80%;
	left:0;
	width: 0;
	height: 2px;
	border-bottom: 2px solid  #0000CD;
	transition: all 0.4s linear;
}

#Navbar a:hover:before{
	width: 100%;
}
section{
	background-image: url('contact2.png');
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 20%;
	font-family: 'Rubik', sans-serif;
}
.heading h1{
	text-align: center;
	text-transform: uppercase;
	font-size: 40px;
	animation: aagepiche 2s linear infinite;
	animation-direction: alternate;
	font-family: 'Oleo Script', cursive;
	color: white;
	text-shadow: 2px 2px #12498c;
}
@keyframes aagepiche{
	from{ padding-left: 50px; }
	to{ padding-right: 60px; }
}
.form-group input, .form-group textarea, .form-group select{
	background: transparent;
	border:1.5px solid #12498c;
	border-radius: 8px;
}
.form-group label{
	font-size: 20px;
	color: #12498c;
} 
.form-group button{
	border:1.5px solid white;
	background-color: #12498c;
	color: white;
	cursor: pointer;
	border-radius: 8px;
}
.form-group button:hover{
	background-color: transparent;
	border:1.5px solid #12498c;
	color: #12498c;
}
.box2{
	/*border:1px solid black;*/
	vertical-align: middle;

}
.box2 h2{
	color: white;
	text-transform: uppercase;
	font-size: 35px;
	text-align: center;
	font-family: 'Oleo Script', cursive;
	text-shadow: 2px 2px #12498c;
}
.box2 h4{
	text-align: center;
	color: white;
}


.footer1, .footer2, .footer3{
	background-color: #B0E0E6;
	font-family: 'Rubik', sans-serif;
}
.footer1 h2{
	margin-bottom: 10px;
	margin-top: 20px;
	text-align: center;
	font-size: 30px;
	font-family: 'Oleo Script', cursive;
}
.footer1 h4{
	font-family: 'Oleo Script', cursive;
}
.footer2, .footer1{
	/*border:1px solid black;*/
	font-size: 20px;
	text-align: center;
}
.footer2 h4{
	font-family: 'Oleo Script', cursive;
}
.footer2 button{
	padding:5px 20px;
	border-radius: 5px;
	border:1px solid #12498c;
	background-color: #12498c;
	color: white;
	font-size: 20px;
}
.fa {
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 100px;
  color:  #0000CD;
}
.fa:hover{
	color: #12498c;
}

#addressfooter{
	margin-top: 20px;
}
.footer3 h2{
	font-family: 'Oleo Script', cursive;
	padding-top: 20px;
	font-size: 35px;
	margin-top: 10px;
}
.footer3 input{
	background-color:#12498c;
	border:1px solid black;
	color: white;
	font-size: 15px;
	text-align: center;
	border-radius: 10px;
}
/*::-webkit-input-placeholder{
	color: white;
	padding-left: 10px;
	opacity: 0.8;
	text-shadow: 2px 2px #12498c;
}*/

.footer3 textarea{
	background-color:#12498c;
	border:1px solid black;
	color: white;
	font-size: 15px;
	border-radius: 10px;
	text-align: center;
}

.footer3 button{
	padding: 5px 15px;
	background-color: white;
	color:#12498c ;
	border:1px solid #12498c ;
	border-radius: 10px;
	cursor: pointer;
}
.footer3 button:hover{
	background-color: #12498c;
	color: white;
}