*{
	font-family: 'Rubik', sans-serif;
}
nav{
    background-color:rgba(0,102,102,0.5);
 }
.navbar-brand img{
    box-shadow: 2px 2px 10px 5px #87CEFA;
    border-radius: 20px;
 }
#Navbar a{
    color:white;
    text-decoration: none;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 20px;
	position: relative;
	font-family: 'Oleo Script', cursive;
	margin-left: 50px;
}
#Navbar a:before{
	content: "";
	position: absolute;
	top:80%;
	left:0;
	width: 0;
	height: 2px;
	border-bottom: 2px solid  #0000CD;
	transition: all 0.4s linear;
}

#Navbar a:hover:before{
	width: 100%;
}
.anim{
	width: 100%;
	height: 600px;
	background-color:#B0E0E6;
}
.anim p{
	text-align: center;
	padding-top: 130px;
	font-size: 40px;
	font-family: 'Oleo Script', cursive;
	color: white;
	text-shadow: 2px 2px 8px black;
}
#front{
	width: 350px;
	height:350px;
	position: relative;
	top: 10px;
	left: 600px;
}

#right{
	width: 350px;
	height: 350px;
	position: absolute;
	top: 200px;
	left: 850px;
	animation: right 8s ease infinite;
	opacity: 1;
	transform: scale(.8);
}
#left{
	width: 350px;
	height: 350px;
	position: absolute;
	top: 200px;
	left: 350px;
	animation: left 8s ease infinite;
	opacity: 1;
	transform: scale(.8);
}
#right1{
	width: 350px;
	height: 350px;
	position: absolute;
	top: 200px;
	left: 1100px;
	animation: right1 8s 3s ease infinite,op 3s;
	opacity: 1;
	transform: scale(.75);
}
#left1{
	width: 350px;
	height: 350px;
	position: absolute;
	top: 200px;
	left: 100px;
	animation: left1 8s 3s ease infinite,op 3s;
	opacity: 1;
	transform: scale(.75);
}
@keyframes op{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 0;
	}
}
@keyframes left {
	0%{
		top: 200px;
		left: 500px;
		width: 350px
		height:350px;
		opacity: 0;
		transform: scale(1);
	}
	100%{
		position: absolute;
		top: 200px;
		left: 250px;
		width: 350px;
		height: 350px;
		transform: scale(.8);
		opacity: 1;
	}
}
@keyframes right{
	0%{
		top: 200px;
		left: 700px;
		width: 350px
		height:350px;
		opacity: 0;
		transform: scale(1);
	}
	100%{
		position: absolute;
		top: 200px;
		left: 950px;
		width: 350px;
		height: 350px;
		transform: scale(.8);
		opacity: 1;
	}
}
@keyframes left1{
	0%{
		top: 200px;
		left: 600px;
		width: 350px
		height:350px;
		opacity: 0;
		transform: scale(1);
	}
	100%{
		position: absolute;
		top: 200px;
		left: 0px;
		width: 350px;
		height: 350px;
		transform: scale(.8);
		opacity: 1;
	}
}
@keyframes right1{
	0%{
		top: 200px;
		left: 700px;
		width: 350px
		height:350px;
		opacity: 0;
		transform: scale(1);
	}
	100%{
		position: absolute;
		top: 200px;
		left: 1200px;
		width: 350px;
		height: 350px;
		transform: scale(.8);
		opacity: 1;
	}
}

.cube{
	padding-top: 120px;
	padding-bottom: 70px;
	background-color: #B0E0E6;
}

		.wrapper{
			width: 200px;
			height: 200px;
			margin: 10% auto;
		}
		.box-area{
			animation: animate 10s ease-in-out infinite;
			transform-style: preserve-3d;
			transform-origin: 100px 100px 0;
		}
		.box-area div{
			position:absolute;
			width: 200px;
			height: 200px;
			line-height: 200px;
		}
		.box-area_md div{
			position: absolute;
			width: 300px;
			height: 300px;
			line-height: 300px;
		}
		.box-area .box1, .box-area_md .box1{
			background-image: url(emp1.jpg);
			-webkit-background-size:cover;
			background-size: cover;
			background-position: center center;
			transform: translateZ(100px);
		}
		.box-area_md .box1{
			transform: translateZ(150px);
		}
		.box-area .box2, .box-area_md .box2{
			background-image: url(emp2.png);
			-webkit-background-size:cover;
			background-size: cover;
			background-position: center center;
			transform: rotateY(90deg) translateZ(100px);
		}
		.box-area_md .box2{
			transform: rotateY(90deg) translateZ(150px);
		}
		.box-area .box3, .box-area_md .box3{
			background-image: url(emp3.png);
			-webkit-background-size:cover;
			background-size: cover;
			background-position: center center;
			transform: rotateY(90deg) rotateX(90deg) translateZ(100px) ;
		}
		.box-area_md .box3{
			transform: rotateY(90deg) rotateX(90deg) translateZ(150px) ;
		}
		.box-area .box4, .box-area_md .box4{
			background-image: url(emp4.jpg);
			-webkit-background-size:cover;
			background-size: cover;
			background-position: center center;
			transform: rotateY(180deg) rotateZ(90deg) translateZ(100px) ;
		}
		.box-area_md .box4{
			transform: rotateY(180deg) rotateZ(90deg) translateZ(150px) ;
		}
		.box-area .box5, .box-area_md .box5{
			background-image: url(emp5.jpg);
			-webkit-background-size:cover;
			background-size: cover;
			background-position: center center;
			transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px) ;
		}
		.box-area_md .box5{
			transform: rotateY(-90deg) rotateZ(90deg) translateZ(150px) ;
		}
		.box-area .box6, .box-area_md .box6{
			background-image: url(emp6.jpg);
			-webkit-background-size:cover;
			background-size: cover;
			background-position: center center;
			transform: rotateX(-90deg) translateZ(100px) ;
		}
		.box-area_md .box6{
			transform: rotateX(-90deg) translateZ(150px) ;
		}
		@keyframes animate{
			from,to {
				transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
			}
			16%{
				transform: rotateY(-90deg);
			}
			33%{
				transform: rotateY(-90deg)rotateZ(90deg);
			}
			50%{
				transform: rotateY(-180deg)rotateZ(90deg);
			}
			66%{
				transform: rotateY(-270deg)rotateX(90deg);
			}
			83%{
				transform: rotateX(90deg);
			}
		}

.top, .top_sm{
	width: 100%;
	height: 500px;
	background-image: url('hospital.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}
.top p{
	font-size: 60px;
	font-family: 'Oleo Script', cursive;
	padding-top: 200px;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 2px 2px 8px black;
	color: white;
}
.top_sm p{
	font-size: 40px;
	font-family: 'Oleo Script', cursive;
	padding-top: 180px;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 2px 2px 8px black;
	color: white;
}



h1{
	text-align: center;
	font-family: 'Oleo Script', cursive;
	padding-top: 20px;
	padding-bottom: 20px;
}
.slider{
	height: 400px;
	width: 100%;
	overflow: hidden;
}

.sliderchild{
	height: 400px;
	width: 500%;
	animation: slider infinite 20s 2s/*2s for delay*/;
}

.imagecon{
	height: 400px;
	width: 20%;
	float:left;
	line-height: 400px;
	text-align: center;
	font-size: 20px;
	color: white;
}
.imagecon:nth-child(1){
	background-image: url('gall_A.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.imagecon:nth-child(2){
	background-image: url('gall_B.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.imagecon:nth-child(3){
	background-image: url('gall_C.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.imagecon:nth-child(4){
	background-image: url('gall_D.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.imagecon:nth-child(5){
	background-image: url('gall_A.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
 @keyframes slider{
 	12.5%{
 		margin-left: -100%;
 	}
 	25%{
 		margin-left: -100%;
 	}
 	37.5%{
 		margin-left: -200%;
 	}
 	50%{
 		margin-left: -200%;
 	}
 	62.5%{
 		margin-left: -300%;
 	}
 	75%{
 		margin-left: -300%;
 	}
 	87.5%{
 		margin-left: -400%;
 	}
 	100%{
 		margin-left: -400%;
 	}
 }

















.footer1, .footer2, .footer3{
	background-color: #B0E0E6;
	font-family: 'Rubik', sans-serif;
}
.footer1 h2{
	margin-bottom: 10px;
	margin-top: 20px;
	text-align: center;
	font-size: 30px;
	font-family: 'Oleo Script', cursive;
}
.footer1 h4{
	font-family: 'Oleo Script', cursive;
}
.footer2, .footer1{
	/*border:1px solid black;*/
	font-size: 20px;
	text-align: center;
}
.footer2 h4{
	font-family: 'Oleo Script', cursive;
}
.footer2 button{
	padding:5px 20px;
	border-radius: 5px;
	border:1px solid #12498c;
	background-color: #12498c;
	color: white;
	font-size: 20px;
}
.fa {
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 100px;
  color:  #0000CD;
}
.fa:hover{
	color: #12498c;
}

#addressfooter{
	margin-top: 20px;
}
.footer3 h2{
	font-family: 'Oleo Script', cursive;
	padding-top: 20px;
	font-size: 35px;
	margin-top: 10px;
}
.footer3 input{
	background-color:#12498c;
	border:1px solid black;
	color: white;
	font-size: 15px;
	text-align: center;
	border-radius: 10px;
}
/*::-webkit-input-placeholder{
	color: white;
	padding-left: 10px;
	opacity: 0.8;
	text-shadow: 2px 2px #12498c;
}*/

.footer3 textarea{
	background-color:#12498c;
	border:1px solid black;
	color: white;
	font-size: 15px;
	border-radius: 10px;
	text-align: center;
}

.footer3 button{
	padding: 5px 15px;
	background-color: white;
	color:#12498c ;
	border:1px solid #12498c ;
	border-radius: 10px;
	cursor: pointer;
}
.footer3 button:hover{
	background-color: #12498c;
	color: white;
}